<h2>Shopマイページ</h2>

  <table class="table-borderless">
    <tr>
      <th>登録情報</th>
      <td>
        <%= link_to shops_edit_post_path, class: "btn btn-success" do %>編集する
        <% end %>
      </td>
    </tr>
  </table>

  <table class="table table-bordered">
    <tr>
      <th class="table-active" width="30%">氏名</th>
      <td width="70%">
        <%= @shop.last_name %>
        <%= @shop.first_name %>
      </td>
    </tr>
    <tr>
      <th class="table-active">カナ</th>
      <td>
        <%= @shop.last_name_kana %>
        <%= @shop.first_name_kana %>
      </td>
    </tr>
    <tr>
      <th class="table-active">Shop名</th>
      <td>
        <%= @shop.shop_name %>
      </td>
    </tr>
    <tr>
      <th class="table-active">カナ</th>
      <td>
        <%= @shop.shop_name_kana %>
      </td>
    </tr>
    <tr>
      <th class="table-active">郵便番号</th>
      <td><%= @shop.postal_code %></td>
    </tr>
    <tr>
      <th class="table-active">住所</th>
      <td><%= @shop.address %></td>
    </tr>
    <tr>
      <th class="table-active">電話番号</th>
      <td><%= @shop.telephone_number %></td>
    </tr>
    <tr>
      <th class="table-active">メールアドレス</th>
      <td><%= @shop.email %></td>
    </tr>
  </table>