<div class="cover-index">
  <div class="container">
    <div class="row justify-content-center md-2">
      <h2 class="font-weight-normal mt-3">投稿一覧</h2>
    </div>

      <%= link_to "投稿する", new_shop_post_path, class: "btn btn-success mb-3" %>

        <div class="row justify-content-center">
        <% @posts.each do |post| %>
            <div class="col-3 shadow float text-center align-self-center ml-4 mb-4" style="height: 406px">
              <%= link_to shop_post_path(post.id), class: "col-4 text-dark" do %>
              <h4 class="caption">
                <%= post.shop.shop_name %>
              </h4>
              <p class="caption" style="">
                <%= post.title %>
              </p>
              <p lang="en">
                <% if post.image.attached? %>
                  <%= image_tag post.image, class: "index-img" %>
                <% else %>
                  <%= image_tag "no_image.jpg", class: "index-img" %>
                <% end %>
              </p>
                <% weeks = ["月","火","水","木","金","土","日"] %>
                <% index = post.created_at_gteq.strftime("%u").to_i %>
                <% index2 = post.created_at_lteq_end_of_day.strftime("%u").to_i %>
              <p class="caption">
                <%= post.created_at_gteq.strftime("%Y年%-m月%-d日 (#{weeks[index - 1]})") %><br>
                ~<%= post.created_at_lteq_end_of_day.strftime("%Y年%-m月%-d日 (#{weeks[index2 - 1]})") %>
              </p>
              <% end %>
            </div>
        <% end %>
        </div>
  </div>
</div>