<h2>投稿一覧</h2>
  <h1><%= link_to new_shop_post_path do %><i class="fa-solid fa-circle-plus"></i><% end %></h1>

    <% @posts.each do |post| %>
      <%= link_to shop_post_path(post.id) do %>
      <table class='table table-borderless'>
        <tr>
          <th>
            <% if post.image.attached? %>
              <%= image_tag post.image, size: "300x300" %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th width="30%">タイトル</th>
          <th width="70%"><%= post.title %></th>
        </tr>
        <tr>
          <th>内容</th>
          <th><%= post.body %></th>
        </tr>
        <tr>
          <th>開始日</th>
          <% weeks = ["月","火","水","木","金","土","日"] %>
          <% index = post.created_at_gteq.strftime("%u").to_i %>
          <% index2 = post.created_at_lteq_end_of_day.strftime("%u").to_i %>
          <th><%= post.created_at_gteq.strftime("%Y年%-m月%-d日 #{weeks[index - 1]}曜日") %>
              ~<%= post.created_at_lteq_end_of_day.strftime("%Y年%-m月%-d日 #{weeks[index2 - 1]}曜日") %></th>
        </tr>
      </table>
      <% end %>
    <% end %>