<div class="container">
  <div class="row justify-content-center">
    <h2>新規投稿</h2>
  </div>
  <div class="row justify-content-center md-2">
    <%= form_with model: @post, url: shop_posts_path, method: :post do |f| %>
      <table class="table table-borderless">
        <tr>
          <th>画像</th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th>期間</th>
          <td>
            <%= f.date_field :created_at_gteq %>
            <span>~</span>
            <%= f.date_field :created_at_lteq_end_of_day %>
          </td>
        </tr>
        <tr>
          <th>タイトル</th>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <th>内容</th>
          <td><%= f.text_area :body %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td>
            <%= f.radio_button :address_select, 0 %>
              <div>
                〒<%= @shop.postal_code %><br>
                <%= @shop.address %>
              </div>
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <%= f.radio_button :address_select, 1 %>
             <div>
                〒<%= f.text_field :postal_code %><br>
                <%= f.text_field :address %>
             </div>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit '新規投稿', class: "btn btn-success" %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
