<div class="container">
  <div class="row justify-content-center mt-3 mb-3">
    <h2>投稿詳細</h2>
  </div>
    <div class="row mb-5">
      <div class="col">
        <% if @post.image.attached? %>
          <%= image_tag @post.image, size: "300x300" %>
        <% else %>
          <%= image_tag "no_image.jpg", size: "200x200" %>
        <% end %>
      </div>

      <div class="col">
        <h1>
          <%= @post.shop.shop_name %>
        </h1>
          <% weeks = ["月","火","水","木","金","土","日"] %>
          <% index = @post.created_at_gteq.strftime("%u").to_i %>
          <% index2 = @post.created_at_lteq_end_of_day.strftime("%u").to_i %>
        <p>
          <%= @post.created_at_gteq.strftime("%Y年%-m月%-d日 (#{weeks[index - 1]})") %>
          ~<%= @post.created_at_lteq_end_of_day.strftime("%Y年%-m月%-d日 (#{weeks[index2 - 1]})") %>
        </p>
        <h3>
          <%= @post.title %>
        </h3>
        <p>
          <%= @post.body %>
        </p>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col">
        <p>
          〒<%= @post.postal_code %><br>
          <%= @post.address %>
        </p>
      </div>

      <div class="col">
        <div id='map'></div>
          <style>
              #map {
                  height: 400px;
                  width: 400px;
              }
          </style>
          <script>
              // mapの表示関数
              function initMap() {
                  geocoder = new google.maps.Geocoder()

                  // mapの初期位置, 縮尺を定義
                  map = new google.maps.Map(document.getElementById('map'), {
                      center: {
                          lat: <%= @post.latitude %>,
                          lng: <%= @post.longitude %>
                      },
                      zoom: 12,
                  });

                  // mapsテーブルにあるそれぞれのレコードをmap上に表示
                  (function(){
                  var contentString = "住所：<%= @post.address %>";

                  // マーカーを立てる
                  var marker = new google.maps.Marker({
                      position:{lat: <%= @post.latitude %>, lng: <%= @post.longitude %>},
                      map: map,
                      title: contentString
                  });

                })();
              }
          </script>
          <script
              src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"
              async defer>
          </script>
      </div>
    </div>

    <div class="row mb-5">
      <%= link_to edit_shop_post_path, class: "btn btn-success" do %>編集する
      <% end %>
      <%= link_to "削除", shop_post_path(@post.id), class: "btn btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %>
    </div>

    <div class="row">
      <div class="col">
        <table class="table">
          <thead class="table-secondary">
            <tr>
              <th>レビュー</th>
            </tr>
          </thead>
          <% @reviews.each do |review| %>
          <tbody>
            <tr>
              <th>
                <div id="star<%= review.id %>">
                  <script>
                    var elm = document.getElementById("star<%= review.id %>");
                    var opt = {
                      size      : 36,
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      score: <%= review.star %>,
                      half      : false,
                      readOnly: true,
                    };
                    raty(elm, opt);
                  </script>
                </div><br>
                <%= review.review %>
              </th>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
      <div class="col">
      </div>
    </div>
</div>