<h2>投稿詳細</h2>
  <table class='table table-borderless'>
    <tr>
      <th>
        <% if @post.image.attached? %>
          <%= image_tag @post.image, size: "300x300" %>
        <% end %>
      </th>
    </tr>
    <tr>
      <th width="30%">タイトル</th>
      <th width="70%"><%= @post.title %></th>
    </tr>
    <tr>
      <th>内容</th>
      <th><%= @post.body %></th>
    </tr>
    <tr>
      <th>開始日</th>
      <% weeks = ["月","火","水","木","金","土","日"] %>
      <% index = @post.created_at_gteq.strftime("%u").to_i %>
      <% index2 = @post.created_at_lteq_end_of_day.strftime("%u").to_i %>
      <th><%= @post.created_at_gteq.strftime("%Y年%-m月%-d日 #{weeks[index - 1]}曜日") %>
          ~<%= @post.created_at_lteq_end_of_day.strftime("%Y年%-m月%-d日 #{weeks[index2 - 1]}曜日") %></th>
    </tr>
    <tr>
      <th>address</th>
      <td><%= @post.address %></td>
    </tr>
  </table>

  <%= link_to edit_shop_post_path, class: "btn btn-success" do %>編集する
  <% end %>
  <%= link_to "削除", shop_post_path(@post.id), class: "btn btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %>

  <div id='map'></div>

  <style>
      #map {
          height: 400px;
          width: 400px;
      }
  </style>

  <script>
      // mapの表示関数
      function initMap() {
          geocoder = new google.maps.Geocoder()

          // mapの初期位置, 縮尺を定義
          map = new google.maps.Map(document.getElementById('map'), {
              center: {
                  lat: <%= @post.latitude %>,
                  lng: <%= @post.longitude %>
              },
              zoom: 12,
          });

          // mapsテーブルにあるそれぞれのレコードをmap上に表示
          (function(){
          var contentString = "住所：<%= @post.address %>";

          // マーカーを立てる
          var marker = new google.maps.Marker({
              position:{lat: <%= @post.latitude %>, lng: <%= @post.longitude %>},
              map: map,
              title: contentString
          });

        })();
      }
  </script>

  <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"
      async defer>
  </script>

  <h2>レビュー</h2>
  <% @reviews.each do |review| %>
          <div id="star<%= review.id %>">
          <script>
            var elm = document.getElementById("star<%= review.id %>");
            var opt = {
              size      : 36,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              score: <%= review.star %>,
              half      : false,
              readOnly: true,
            };
            raty(elm, opt);
          </script>

        <%= review.review %>

        <%= link_to "削除する", post_review_path(@post), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %>
        <% end %>