<h2>投稿詳細</h2>
  <table class='table table-borderless'>
    <tr>
      <th>
        <% if @information.image.attached? %>
          <%= image_tag @information.image, size: "300x300" %>
        <% end %>
      </th>
    </tr>
    <tr>
      <th width="30%">タイトル</th>
      <th width="70%"><%= @information.title %></th>
    </tr>
    <tr>
      <th>内容</th>
      <th><%= @information.body %></th>
    </tr>
    <tr>
      <th>開始日</th>
      <% weeks = ["月","火","水","木","金","土","日"] %>
      <% index = @information.created_at_gteq.strftime("%u").to_i %>
      <% index2 = @information.created_at_lteq_end_of_day.strftime("%u").to_i %>
      <th><%= @information.created_at_gteq.strftime("%Y年%-m月%-d日 #{weeks[index - 1]}曜日") %>
          ~<%= @information.created_at_lteq_end_of_day.strftime("%Y年%-m月%-d日 #{weeks[index2 - 1]}曜日") %></th>
    </tr>
  </table>

  <%= link_to edit_information_path, class: "btn btn-success" do %>編集する
  <% end %>
  <%= link_to "削除", information_path(@information.id), class: "btn btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %>