<div class="container">
  <div class="row justify-content-center mt-3 mb-3">
    <h2><%= @user.last_name %><%= @user.first_name %>様</h2>
  </div>
  <div class="row mb-3">
      <table class="table-borderless mb-3">
        <tr>
          <th>登録情報</th>
          <td>
            <%= link_to users_edit_post_path(current_user), class: "btn btn-success" do %>編集する
            <% end %>
          </td>
        </tr>
      </table>

      <table class="table table-bordered">
        <tr>
          <th class="table-active" width="30%">氏名</th>
          <td width="70%">
            <%= @user.last_name %>
            <%= @user.first_name %>
          </td>
        </tr>
        <tr>
          <th class="table-active">カナ</th>
          <td>
            <%= @user.last_name_kana %>
            <%= @user.first_name_kana %>
          </td>
        </tr>
        <tr>
          <th class="table-active">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </table>
  </div>
</div>