<div class="container">
  <div class="row justify-content-center">
    <h2>店舗様新規会員登録</h2>
  </div>

    <div class="row justify-content-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "shop/shared/error_messages", resource: resource %>

        <table class="table table-borderless">
          <tr>
            <th width="30%">
              <%= f.label :名前 %>
            </th>
            <td width="35%">
              (姓)<%= f.text_field :last_name %>
            </td>
            <td width="35%">
              (名)<%= f.text_field :first_name %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :フリガナ %><br>
            </th>
            <td>
              (セイ)<%= f.text_field :last_name_kana %>
            </td>
            <td>
              (メイ)<%= f.text_field :first_name_kana %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :メールアドレス %>
            </th>
            <td>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :店名 %>
            </th>
            <td>
              <%= f.text_field :shop_name %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :フリガナ %>
            </th>
            <td>
              <%= f.text_field :shop_name_kana %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :郵便番号 %>(ハイフンなし)
            </th>
            <td>
              <%= f.text_field :postal_code %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :住所 %>
            </th>
            <td colspan="2">
              <%= f.text_field :address, :size => "60*60" %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :電話番号 %>(ハイフンなし)
            </th>
            <td>
              <%= f.text_field :telephone_number %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :パスワード %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %><br />
            </th>
            <td>
              <%= f.password_field :password, autocomplete: "new-password" %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :パスワード %>(確認用)
            </th>
            <td>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </td>
          </tr>
          <tr>
            <th colspan="1"></th>
            <th>
              <%= f.submit "新規登録", class: "btn btn-success" %>
            </th>
          </tr>
        </table>
        <% end %>
    </div>

        <div class="row justify-content-center">
            <h4>既に登録済みの方は</h4>
            <h4>
              <%= link_to "こちら", new_shop_session_path %>からログインしてください。
            </h4>
        </div>
</div>
