<div class="container">
  <div class="row justify-content-center mt-5 mb-3">
    <h2>店舗様新規会員登録</h2>
  </div>

  <div class="row justify-content-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "shop/shared/error_messages", resource: resource %>
      <table class="table table-borderless">
        <tr>
          <div class="form-group">
            <th width="30%">
              <%= f.label :名前 %>
            </th>
            <td width="35%">
              <div class="form-group">
                (姓)<%= f.text_field :last_name, class: 'form-control' %>
              </div>
            </td>
            <td width="35%">
              (名)<%= f.text_field :first_name, class: 'form-control' %>
            </td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <th>
              <%= f.label :フリガナ %><br>
            </th>
            <td>
              <div class="form-group">
                (セイ)<%= f.text_field :last_name_kana, class: 'form-control' %>
              </div>
            </td>
            <td>
              (メイ)<%= f.text_field :first_name_kana, class: 'form-control' %>
            </td>
          </div>
        </tr>
        <tr>
          <th>
            <%= f.label :店名 %>
          </th>
          <td>
            <div class="form-group">
              <%= f.text_field :shop_name, class: 'form-control' %>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :フリガナ %>
          </th>
          <td>
            <div class="form-group">
              <%= f.text_field :shop_name_kana, class: 'form-control' %>
            </div>
          </td>
          </div>
        </tr>
        <tr>
          <th>
            <%= f.label :ジャンル %>
          </th>
          <td>
            <div class="form-group">
              <%= f.select :genre, ['レストラン', 'Bar', '居酒屋', 'カフェ', '喫茶'], {include_blank: '選択ボックス'}, class: 'form-control' %>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :郵便番号 %>(ハイフンなし)
          </th>
          <td>
            <div class="form-group">
              <%= f.text_field :postal_code, class: 'form-control' %>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :住所 %>
          </th>
          <td colspan="2">
            <div class="form-group">
              <%= f.text_field :address, :size => "60*60", class: 'form-control' %>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :電話番号 %>(ハイフンなし)
          </th>
          <td>
            <div class="form-group">
              <%= f.text_field :telephone_number, class: 'form-control' %>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :メールアドレス %>
          </th>
          <td colspan="2">
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "60*60", class: 'form-control' %>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :営業時間 %>
          </th>
          <td>
            <div class="form-group">
              <%= f.text_field :opening_hours, class: 'form-control' %>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :定休日 %>
          </th>
          <td>
            <div class="form-group">
              <%= f.text_field :regular_holiday, class: 'form-control' %>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :駐車場 %>
          </th>
          <td>
            <div class="form-group">
              <%= f.text_field :parking, class: 'form-control' %>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
          </th>
          <td>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :パスワード %>(確認用)
          </th>
          <td>
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
            </div>
          </td>
        </tr>
        <tr>
          <th colspan="1"></th>
          <th>
            <%= f.submit "新規登録", class: "btn btn-success" %>
          </th>
        </tr>
      </table>
      <% end %>
  </div>

  <div class="row justify-content-center mt-5 mb-5">
      <h4 class="text-center">
        既に登録済みの方は
        <%= link_to "こちら", new_shop_session_path %>から<br>
        ログインしてください。
      </h4>
  </div>
</div>
